header {
  background-color: var(--primary);

  .l-container {
    max-width: 1140px;
    padding: 3rem 0;
    margin: 0 auto;

    .l-container__logo {
      h1 {
        font-size: 36px;
        color: var(--light-grey);
        text-transform: uppercase;
        border: var(--light-grey) 2px solid;
        padding: 1rem;
      }

      img {
        width: 150px;
      }
    }
  }
}
