  .card {
    margin: 1rem;
  }

  .icons {
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem 0;

    a {
      margin-right: 1rem;
    }

    a:hover {
      color: var(--grey);
    }
  }
