footer {
  background-color: var(--primary);

  .l-container__info {
    font-size: 24px;
  }
  .l-container__social {
    ul {
      display: inline-flex;

      li:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }

  a {
    color: var(--black);
  }

  a:hover {
    color: var(--blacker);
  }
}

