<section>
  <div class="l-banner">
    <img src="assets/png/banner.png" />
  </div>
</section>

<section class="l-light-section">
  <div class="p-d-block l-container">
    <div class="p-d-flex p-ai-center l-container__review">
      <div class="l-container__img"><img src="assets/png/profile.png" /></div>
      <div class="l-container__text">
        <h2>
          "The experience with Juno is incredible: my team is always up to date
          with new technologies, acquiring knowledge and improving their work.
          The weekly monitoring helped a lot."
        </h2>
        <h3>Robert Hart</h3>
      </div>
    </div>

    <div class="p-d-flex p-ai-center l-container__review">
      <div class="l-container__img"><img src="assets/png/profile.png" /></div>
      <div class="l-container__text">
        <h2>
          "I spent two and a half years unemployed then I got to know Juno. I
          managed to make a career in a very competitive area and I'm very happy
          now working as a Front-end Developer in a multinational company, all
          thanks to Juno's dedication to it's students and to technology."
        </h2>
        <h3>Amanda de Souza</h3>
      </div>
    </div>

    <div class="p-d-flex p-ai-center l-container__review">
      <div class="l-container__img"><img src="assets/png/profile.png" /></div>
      <div class="l-container__text">
        <h2>
          "The platform is incredible. In addition to the courses being
          acessible to those who are starting, at the forum there's always an
          instructor or a student to answer you in a short period of time. In
          Juno, your professional growth is a priority."
        </h2>
        <h3>Louis Badeaux</h3>
      </div>
    </div>
  </div>
</section>

<section class="l-dark-section">
  <div class="l-container">
    <div class="p-grid l-container__patrocinadores">
      <p-card class="p-d-inline p-col-3"></p-card>
      <p-card class="p-d-inline p-col-3"></p-card>
      <p-card class="p-d-inline p-col-3"></p-card>
      <p-card class="p-d-inline p-col-3"></p-card>
      <p-card class="p-d-inline p-col-3"></p-card>
      <p-card class="p-d-inline p-col-3"></p-card>
      <p-card class="p-d-inline p-col-3"></p-card>
      <p-card class="p-d-inline p-col-3"></p-card>
    </div>
  </div>
</section>
