.l-banner {
  height: 50vh;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.l-container__review {
  .l-container__img {
    margin: 0 2rem 0 0;
  }

  .l-container__text {
    h2 {
      font-weight: normal;
    }
    h3 {
      font-weight: bold;
      margin-top: 1rem;
    }
  }

  img {
    min-width: 100px;
    max-width: 100px;
    border-radius: 50%;
  }
}

.l-container__review:not(:last-child) {
  margin: 0 0 3rem 0;
}

.l-dark-section {
  background-color: var(--light-grey);
}
