@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/mdc-light-indigo/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.css';

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lato-v17-latin-regular.woff2') format('woff2'); 
  
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/lato-v17-latin-ext_latin-regular.woff2') format('woff2'); 
  
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lato-v17-latin-ext_latin-regular.woff') format('woff2'); 
  
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/lato-v17-latin-ext-900.woff2') format('woff2'); 
 
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

$default-background-color: #f1f4f8 !default;

@mixin setup-styles($background: $default-background-color) {
  html {
    // Colors
    --primary: #3f51b5;
    --light-grey: #dadce0;
    --lighter-grey: #f1f4f8;
    --white: #ffffff;
    --black: #202124;
    --blacker: black;
    --error: #b24536;
    --success: #36b252;
    --alert: #b28836;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;;
    font-size: 14px;
    color: var(--black);
    width: 100vw;

    background-color: $background;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  label {
    font-size: 0.85714rem;
    color: var(--grey);
  }

  input {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-size: 1.285715rem;
  }

  .l-container {
    max-width: 1140px;
    padding: 5rem 0;
    margin: 0 auto;
  }
}

@include setup-styles();

